$usafa-blue: #26547cff;
$persian-green: #00a896ff;
$mountain-meadow: #02c39aff;
$ultra-red: #ff6978ff;
$white: #fcfcfcff;
$black-text: #141414;

$card-width: 250px;
$top-recipe-margin: 3rem;
$change-page-transition: 0.5s;

$recipe-listed-width: 200px;
$listed-img-dim: 45px;
