$usafa-blue: #26547cff;
$usafa-blue-highlight: #326fa4;
$persian-green: #00a896ff;
$mountain-meadow: #02c39aff;
$ultra-red: #ff9aa5;
$cool-blue-bg: #eef4f6;
$white: #fcfcfcff;
$bg-darker-white: #cccccc;
$black-text: #141414;

$card-width: 250px;
$top-recipe-margin: 3rem;
$content-height: 600px;
$content-height-mobile: calc(100vh - 144px);
$change-page-transition: 0.5s;

$recipe-listed-width: 200px;
$listed-img-dim: 45px;
