@import "./variables";

/* $usafa-blue: #26547cff;
$persian-green: #00a896ff;
$mountain-meadow: #02c39aff;
$ultra-red: #ff6978ff;
$white: #fcfcfcff;
$black-text: #141414;

$card-width: 250px;
$top-recipe-margin: 3rem;

$recipe-listed-width: 200px;
$listed-img-dim: 45px;
 */

.add-recipe {
  display: flex;
  flex-direction: column;
  align-items: center;

  & > a {
    display: block;
    width: 100%;
    background-color: $mountain-meadow;
    color: $white;
    margin: 0;
    text-align: center;
    line-height: 2.5rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    justify-content: flex-start;
    background-color: $white; /* change this */
    width: 100%;
    position: relative;
    height: 0;
    transition: all $change-page-transition;
    row-gap: 8px;
  }

  &--active {
    form {
      height: $content-height;
      padding: 5%;
    }
  }

  h2 {
    margin: 0 0 3rem 0;
  }

  fieldset {
    margin-top: 0.5rem;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;

    legend {
      font-size: 0.9rem;
    }

    &.ingredient {
      flex-direction: row;
      align-items: center;
      padding: 0.1rem 0;
      margin: 0;

      input:first-child {
        width: 25px;
      }
      input:nth-child(2) {
        width: 35px;
      }
    }

    &.direction {
      flex-direction: row;
      align-items: center;
      padding: 0.1rem 0;
      margin: 0;
    }

    &#image {
      width: 100%;
      align-items: center;
      font-size: 0.9rem;
    }
  }

  button {
    width: 80px;
    height: 1.5rem;
    margin: 0.1rem 0;
  }

  // input[type="file"] {
  //   background-color: pink;
  // }
  //   box-sizing: border-box;
}

.fa-plus-circle,
.fa-window-close,
.fa-minus-circle {
  cursor: pointer;
  color: $mountain-meadow;
}

.fa-plus-circle {
  margin-top: 0.5rem;
}

.fa-window-close {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 1.5rem;
}

// form inputs
.form-input-container {
  position: relative;
  width: 100%;
  height: 2rem;

  input {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border: 1px solid $black-text;
    border-radius: 0.3rem;
    outline: none;
    padding: 0.5rem;
    background: none;
    z-index: 1;
  }

  textarea {
    float: left;
    width: 100%;
    min-height: 55px;
    outline: none;
    resize: none;
  }

  span {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    color: $bg-darker-white;
    font-size: 1rem;
    transition: 0.3s;
    background-color: $white;
    padding: 0 0.25rem;
  }

  input:focus ~ span,
  textarea:focus ~ span {
    top: -0.5rem;
    left: 0.5rem;
    color: $mountain-meadow;
    font-size: 0.75rem;
    font-weight: 400;
    z-index: 10;
  }

  input:not(:placeholder-shown):not(:focus) ~ span,
  textarea:not(:placeholder-shown):not(:focus) ~ span {
    top: -0.5rem;
    left: 0.5rem;
    color: $mountain-meadow;
    font-size: 0.75rem;
    font-weight: 400;
    z-index: 10;
  }

  input:focus,
  textarea:focus {
    border: 1.5px solid $mountain-meadow;
  }

  .fa-minus-circle {
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 11;
  }
}
