@import "./variables";

h1 {
  background-color: $usafa-blue;
  margin: 0;
  text-align: center;
  line-height: 4rem;
  color: $white;
}

.main {
  & > a {
    display: block;
    background-color: $usafa-blue;
    color: $white;
    margin: 0;
    text-align: center;
    line-height: 4rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
  }

  &--active {
    .top-recipes {
      height: $content-height;
    }
  }
}

.top-recipes {
  position: relative;
  height: 0;
  background-color: $white;
  overflow: hidden;
  transition: height $change-page-transition;
  width: 100%;

  &__container {
    position: absolute;
    display: flex;
    column-gap: 250px;
    width: fit-content;
    left: 50%;
    top: 50%;
    transition: transform 0.5s;
  }

  &__arrow-nav {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 95%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(-50%, -50%);
  }

  &__buttons {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}

.fa-angle-left,
.fa-angle-right {
  font-size: 4rem;
  cursor: pointer;
  transition: all 0.2s;
  color: $usafa-blue;

  &:hover {
    font-size: 4.5rem;
    color: $usafa-blue-highlight;
  }
}

input[type="radio"] {
  margin: 2px;
}
