@import "./variables";

h1 {
  background-color: $usafa-blue;
  margin: 0;
  text-align: center;
  line-height: 4rem;
  color: $white;
}

.main {
  & > a {
    display: block;
    background-color: $usafa-blue;
    color: $white;
    margin: 0;
    text-align: center;
    line-height: 4rem;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
  }

  &--active {
    .top-recipes {
      height: $content-height;
    }
  }
}

@media (max-width: 425px) {
  .main--active .top-recipes {
    height: $content-height-mobile;
  }
}

.top-recipes {
  position: relative;
  height: 0;
  background-color: $cool-blue-bg;
  overflow: hidden;
  transition: height $change-page-transition;
  width: 100%;

  &__container {
    position: absolute;
    display: flex;
    column-gap: 250px;
    width: fit-content;
    left: 50%;
    top: 50%;
    transition: transform 0.5s;
  }

  &__arrow-nav {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 95%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translate(-50%, -50%);
    pointer-events: none;
  }

  &__buttons {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
  }
}

.fa-angle-left,
.fa-angle-right {
  font-size: 4rem;
  cursor: pointer;
  transition: 0.3s;
  color: $usafa-blue;
  opacity: 0.7;
  pointer-events: auto;

  &:hover {
    font-size: 4.5rem;
    opacity: 1;
  }
}

// input[type="radio"] {
//   margin: 2px;

//   &:last-child {
//     &::after {
//       content: " ";
//       height: 13px;
//       width: 13px;
//       border: 2px solid $usafa-blue;
//       opacity: 0.8;
//       display: inline-block;
//       border-radius: 50%;
//     }

//     &:hover::after {
//       opacity: 1;
//     }
//   }
// }

.custom-radio {
  cursor: pointer;
  margin: 2px;

  input {
    position: absolute;
    opacity: 0;

    &:checked ~ span {
      background-color: $usafa-blue;
      opacity: 1;
    }
  }

  span {
    height: 13px;
    width: 13px;
    border: 1px solid $usafa-blue;
    opacity: 0.8;
    display: inline-block;
    border-radius: 50%;

    &:hover {
      opacity: 1;
    }
  }
}
