@import "./variables";

#recipe-selector {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: calc(#{$card-width} + 2 * #{$top-recipe-margin});
  position: relative;
}

#slider {
  width: 100%;
  overflow: hidden;
}

#slider-content {
  display: flex;
  width: fit-content;
  transition: transform 0.5s;
}

#slider-radio {
  margin: 1rem;
}

#recipe-buttons {
  display: flex;
  width: 100%;
  align-content: center;
  justify-content: space-between;

  button {
    border: none;
    background: none;
    white-space: nowrap;
    cursor: pointer;
    margin: 0 2rem;
    font-size: 1rem;
    font-weight: bold;
  }
}

.fa-chevron-left {
  transition: transform 0.3s;
}

.fa-chevron-left.fa-chevron-left--opposite {
  transform: rotate(180deg);
}

/* $usafa-blue: #26547cff;
$persian-green: #00a896ff;
$mountain-meadow: #02c39aff;
$ultra-red: #ff6978ff;
$white: #fcfcfcff; */

#other-recipes {
  background-color: $usafa-blue;
  position: absolute;
  height: 100%;
  overflow-y: scroll;
  left: 92%;
  bottom: 0%;

  animation: showRecipes 0.3s;
}

@keyframes showRecipes {
  0% {
    transform: scale(0.1);
    left: 65%;
    bottom: -43%;
  }
  100% {
    transform: scale(1);
  }
}
