@import "./variables";

.recipe {
  width: $card-width;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: $usafa-blue;
  border-radius: 0.5rem;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 0 1px 4px 0 $black-text;

  img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    object-position: center;
  }

  h3,
  p {
    margin: 0 0.8rem;
    color: $white;
  }

  p {
    font-size: 0.9rem;
    font-weight: 300;
  }

  p:nth-of-type(1) {
    height: 3rem;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  p:nth-of-type(2) {
    text-align: right;
  }

  &--floating {
    position: absolute;
    left: 5%;
    top: 10%;
    animation: showHover 0.3s;
  }
}

@keyframes showHover {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
/* $usafa-blue: #26547cff;
$persian-green: #00a896ff;
$mountain-meadow: #02c39aff;
$ultra-red: #ff6978ff;
$white: #fcfcfcff; */
.recipe-listed {
  color: $white;
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem;
  background-color: $ultra-red;
  text-decoration: none;

  img {
    width: $listed-img-dim;
    height: $listed-img-dim;
    object-fit: cover;
    object-position: center;
  }

  p {
    margin: 0;
  }

  p:nth-of-type(1) {
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    // width: 122px;
  }

  p:nth-of-type(2) {
    margin: 0;
    font-size: 0.9rem;
    font-weight: 300;
  }
}
