/* $usafa-blue: #26547cff;
$persian-green: #00a896ff;
$mountain-meadow: #02c39aff;
$ultra-red: #ff6978ff;
$white: #fcfcfcff;
$black-text: #141414;

$card-width: 250px;
$top-recipe-margin: 3rem;

$recipe-listed-width: 200px;
$listed-img-dim: 45px;
 */
#add-recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #1414144d;
  font-family: "Roboto", sans-serif;
}

#add-recipe form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #00a896ff;
  width: 100%;
  max-width: 600px;
  min-width: 325px;
  margin: 12px;
  padding: 2rem;
  border-radius: 0.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: 0px 0px 15px black;
          box-shadow: 0px 0px 15px black;
}

#add-recipe h2 {
  margin: 0 0 3rem 0;
}

#add-recipe fieldset {
  margin-top: 0.5rem;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#add-recipe fieldset#directions, #add-recipe fieldset#ingredients {
  max-height: 200px;
  overflow-y: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#add-recipe fieldset legend {
  font-size: 0.9rem;
}

#add-recipe fieldset.ingredient {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.1rem 0;
  margin: 0;
}

#add-recipe fieldset.ingredient input:first-child {
  width: 25px;
}

#add-recipe fieldset.ingredient input:nth-child(2) {
  width: 35px;
}

#add-recipe fieldset.direction {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.1rem 0;
  margin: 0;
}

#add-recipe fieldset textarea {
  float: left;
  width: 100%;
  min-height: 55px;
  outline: none;
  resize: none;
  max-width: 495px;
}

#add-recipe fieldset#image {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.9rem;
}

#add-recipe input {
  width: 100%;
  line-height: 1.5rem;
  margin: 0.1rem 0;
}

#add-recipe button {
  width: 80px;
  height: 1.5rem;
  margin: 0.1rem 0;
}

.fa-plus-circle,
.fa-window-close,
.fa-minus-circle {
  cursor: pointer;
}

.fa-plus-circle {
  margin-top: 0.5rem;
}

.fa-window-close {
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 1.5rem;
}
/*# sourceMappingURL=AddRecipe.css.map */